.counter-contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 18px;
  border-radius: 5px;
  height: 38px;
  margin-bottom: 7px;

  &::before{
    content: "perm_contact_calendar";
    font-family: 'MaterialIcon';
    font-size: 24px;
    margin-right: 5px;
  }

  & span{
    font-weight: 700;
    margin-left: 4px;
  } 

}