.searcher{
    border-radius: 5px;

    &::before{
        content:"search";
        display: inline-block;
        font-family: 'MaterialIcon';
        margin-left: 7px;
        color: $white;
        font-size: 24px;
    }

    &__input{
        width: 100%;
        background-color:transparent;
        display: inline-block;
        outline: none;
        border: none;
        padding: 5px;

        &::placeholder{
            color: $white;
        }
    }
}