.searcher {
  border-radius: 5px;
  padding: 0.3rem 0;

  &::before {
    content: "search";
    display: inline-block;
    font-family: "MaterialIcon";
    margin-left: 1rem;
    color: $white;
    font-size: 24px;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    display: inline-block;
    outline: none;
    border: none;
    padding: 5px;

    &::placeholder {
      color: $white;
    }
  }
}

// Modifiers
.searcher {
  &--disabled {
    opacity: 0.3;
  }
}
