// Custom Variables
$gray-1: #efefef;
$gray-2: #a1a1a1;
$gray-3: #7b7b7b;
$gray-4: #545454;
$red-1: #f67878;
$red-2: #d56363;
$orange: #f69278;
$blue: #78a6f6;

//////////////////////////////////////////////////////

// Replace Bootstrap variables
$font-family-sans-serif: "Segoe UI";
$h1-font-size: 1.2rem;
$h2-font-size: 0.9rem;
$headings-font-weight: 700;
$body-color: $gray-4;

$primary: $gray-4;
$secondary: $gray-3;
$gray-light: $gray-2;
$light: $gray-1;
$danger: $red-1;
$border-danger: $red-2;
$action: $blue;
$confirm: $orange;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "danger": $danger,
  "gray-light": $gray-light,
  "border-danger": $border-danger,
  "action": $action,
  "confirm": $confirm,
);

//////////////////////////////////////////////////////

// Main Boostrap Styles
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

// Bootstrap Components
@import "../../bootstrap/scss/reboot";
@import "../../bootstrap/scss/grid";
@import "../../bootstrap/scss/type";
@import "../../bootstrap/scss/utilities";

//////////////////////////////////////////////////////

// Main Custom Styles
@import "./main/typography";

// Custom Components
@import "./components/Intro";
@import "./components/Searcher";
@import "./components/AddContact";
@import "./components/NewContact";
@import "./components/CounterContacts";
@import "./components/Contact";
@import "./components/ContactOption";
@import "./components/EditorContact";
@import "./components/ButtonDarkMode";

@import "./main/colors";

// Debugging
.outline {
  outline: 1px solid $red-2;
}
